.css-xn6ruc {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 50px;
}
.css-e53awj-MuiStack-root {
    margin-top: 50px;
    justify-content: center;
}
.css-syfdn8-MuiAvatar-root {
    text-align: -webkit-center;
}
