.homeAccount__header {
    padding: 15px 20px 7px;
    display: flex;
    /* position: sticky; */
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    height: 38px;
    padding: 32px;
    gap: 1rem;
    /* display: flex;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-top: 15px; */
}

.homeAccount__logoImg {
    object-fit: contain;
    flex: 1;
    width: 90px;
    /* margin-right: 100px; */
}
.homeAccount__logoNation {
    height: 20px;
    width: 40px;
    margin-right: 10px;
}
.homeAccount__links {
    display: flex;
    gap: 40px;
    flex-grow: 1;
    /* margin-left: -300px;
    margin-right:250px; */
}

.homeAccount__links > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}
.homeAccount__links > a:hover {
    color: rgb(238, 181, 24);
}
.onclick_header__home {
    color: rgb(238, 181, 24) !important;
}

.homeAccount__right {
    display: flex;
    align-items: center;
    gap: 15px;
    /* margin-right: -200px; */
}

.homeAccount__right > a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    display: flex;
    font-weight: 500;
    font-size: 15px;
    z-index: 0;
    position: relative;
}

.homeAccount__link--hidden {
    visibility: hidden;
}

.homeAccount__menu > .MuiSvgIcon-root {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.homeAccount_imgtrans--hidden {
    visibility: hidden;
}

.homeAccount__btnLogin {
    color: #fff !important;
    background-color: #1f66cf;
    border-radius: 50%;
    margin: 16;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
}
.homeAccount__btnLogin:hover {
    opacity: 0.9;
}
.homeAccount__btnLogin:active {
    opacity: 0.3;
}
.homeAccount__closeMenu {
    color: #000 !important;
}

.homeAccount__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 12px;
    padding-bottom: 30px;
    /* gap: 550px; */
}

.homeAccount__person > h4 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: x-large;
}

.homeAccount__right {
    display: flex;
    gap: 20px;
}
.logout {
    padding-top: 2px;
}
.logout:hover {
    color: red;
}

.homeAccount__cars {
    display: grid;
    place-items: center;
    /* gap: 30px; */
    padding-bottom: 40px;
}

.MuiPagination-ul {
    place-content: center;
}

.cars__choose.choosetour {
    margin-left: 12px !important;
}

/* contact social */

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    margin-left: 10px !important;
}
.css-6z8jno > .MuiBox-root {
    position: fixed;
    top: 50vh;
    left: 50vw;
    max-height: 500px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 400px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0px 11px 15px -7pxrgba (0, 0, 0, 0.2), 0px 24px 38px 3pxrgba (0, 0, 0, 0.14),
        0px 9px 46px 8pxrgba (0, 0, 0, 0.12);
    /* padding-top: 16px; */
    /* padding-left: 32px; */
    /* padding-right: 32px; */
    /* padding-bottom: 24px; */
    padding: 1rem 1.4rem;
    overflow-x: hidden;
    overflow-y: overlay;
}
