.footer {
    padding: 64px 16px;
    text-align: center;
}
.footer .text-contact-line a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.footer .copyright a:hover,
.footer .text-contact-line a:hover {
    color: rgba(0, 0, 0, 0.4);
}
.footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
.footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    margin-left: 5px;
}
.icon-social {
    letter-spacing: 10px;
}
